.site-welcome{
    display: none;
    position: fixed;
    top:0%;left: 0%;width: 100%;height: 100%;background: rgb(216, 241, 201);z-index: 2;  
    justify-content: center;align-items: center;
}
.site-welcome.active{
    display: flex;
}
.loading{
    position: relative;
    width: 200px;height: 200px;
}
.loading::before,.loading::after{
    position: absolute;
    content: '';
    width: 0;height: 0;background: rgb(61, 59, 59);
    border-radius: 50%;
    top: 0;left: 0;bottom: 0;right: 0;margin: auto;
    animation: s 1.6s linear infinite;
}
.loading::after{
    animation-delay: 0.8s;
}
@keyframes s{
    0%{
        width: 0;height: 0;opacity: 1;
    }
    100%{
        width: 100px;height: 100px;opacity: 0;
    }
}